<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.firstname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.lastname}}%</mat-cell>
        </ng-container>
        <ng-container matColumnDef="salary">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Salary</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.salary}}°</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/detail/{{row.id}}"></mat-row>
    </mat-table>
</div>