<mat-tab-group>
    <mat-tab label="Nemoci">
        <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="diseaseDataSource" matSort aria-label="Elements">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="icd10">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>icd10</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.icd10}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="symptoms">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Symptoms</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{getSymptoms(row.symptoms)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cures">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cures</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{getCures(row.cures)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="addCure">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-stroked-button color="primary" [matMenuTriggerFor]="addItemMenu">Add Cure</button>
                        <mat-menu #addItemMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false" class="add-item-menu">
                            <app-disease-add-cure [diseaseId]="row.id" (closeMenu)="closeItemMenu()"></app-disease-add-cure>
                        </mat-menu>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="diseaseDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: diseaseDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-tab>
    <mat-tab label="Symptomy">
        <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="symptomsDataSource" matSort aria-label="Elements">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="diseaseSymptoms">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Symptoms of</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{getSymptoms(row.diseaseSymptoms)}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="symptomsDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: symptomsDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-tab>
</mat-tab-group>

