<mat-card (click)="stopPropagation($event)">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-header>
        <mat-card-title>Add your cool new item here!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Item Name" [(ngModel)]="item.name" name="name" (keyup.enter)="submit()">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="submit()" [hidden]="!item.name">Save & Open</button>
    </mat-card-actions>
</mat-card>