<mat-card (click)="stopPropagation($event)">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-header>
        <mat-card-title>Add new interaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field>
                <mat-label>Doctor</mat-label>
                <mat-select [(ngModel)]="item.doctor" name="doctor">
                    <ng-container *ngFor="let doctor of getDoctors(); index as i;" >
                        <mat-option *ngIf="doctor" [value]="i">
                            {{doctor}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Note" [(ngModel)]="item.note" name="note" (keyup.enter)="submit()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Symptoms</mat-label>
                <mat-select [(ngModel)]="item.symptoms" name="symptoms" multiple>
                    <ng-container *ngFor="let symptom of getSymptoms(); index as i;" >
                        <mat-option *ngIf="symptom" [value]="i">
                            {{symptom}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Diagnosis</mat-label>
                <mat-select [(ngModel)]="item.diagnosis" name="diagnosis" multiple>
                    <ng-container *ngFor="let disease of getDiseases(); index as i;" >
                        <mat-option *ngIf="disease" [value]="i">
                            {{disease}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Prescriptions</mat-label>
                <mat-select [(ngModel)]="item.prescriptions" name="prescriptions" multiple>
                    <mat-option *ngFor="let drug of getDrugs(); index as i;" [value]="drug.id">
                        {{drug.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="submit()">Save</button>
    </mat-card-actions>
</mat-card>
