.sidenav-container {
    height: 100%;
}

.bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.title {
    font-family: 'Amaranth Regular';
    font-size: 20pt;
}

.bottom-content a {
    color: inherit !important;
}
  
.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

::ng-deep .alert {
    padding: 0.1rem 1.0rem;
    margin-bottom: 0px;
    margin: 5px;
}